language: android

android:
  components:
    - tools
    - platform-tools
    - build-tools-26.0.2
    - android-26
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
    - extra-google-google_play_services


jdk: oraclejdk8

licenses:
    - android-sdk-license-.+
    - '.+'

script:
    - chmod +x gradlew
    - ./gradlew testDebug